{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans
"q3" %}{% endblock %} {% load crispy_forms_tags %} {% block content %}
<div class="row justify-content-center">
	<div class="col-md-6 col-sm-12">
		<h1>{% trans "Risk Factor Screen for Parent" %}</h1>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-md-6 col-sm-12">
		<form class="signup" method="POST" action="q3">
			{% csrf_token %} {{ form|crispy }}
			<div class="d-grid gap-2">
				<button class="mt-3 btn btn-dark btn-block" type="submit">
					{% trans "Continue" %} &raquo;
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
