@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#dashboard {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
}

/* #main-content {
    display: flex;
    flex-flow: column nowrap;
} */

#sidebar {
	background-color: #396692 !important;
	width: 300px;
	overflow: hidden;
}

.list-group-item {
    background-color: #396692 !important;
}

#navbar {
    background-color: #396692 !important;
}

.list-group-item {
    border: none !important;
}